@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

@media print {
  body {
    background: white;
  }

  .shadow-lg {
    box-shadow: none;
  }

  button,
  select {
    display: none;
  }

  .bg-gray-50 {
    background-color: white;
  }

  .p-4 {
    padding: 0;
  }

  .rounded-lg {
    border-radius: 0;
  }
}

